	<% include partials/head.ejs %>
	<title>Club</title>
	<link rel="stylesheet" href="/css/club.css">

</head>
<body>

	<% include ./partials/navbar.ejs %>

	<div class="container" id="section1">
		<img id="logo" src="<%if (club) {%><%=club.logo%><%}%>" class="img-responsive center-block" alt="<%=club.name%>">
		
		<hr/>
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<h3 class="text-center">Events</h3>
				<div id="events"></div>
			</div>
			<div class="col-sm-6 col-md-4">
				<h3 class="text-center">Posts</h3>
				<div id="posts"></div>
			</div>
		</div>
		
		<hr>

		<div id="description"></div>

		<div id="join"></div>

	</div>


	
	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script>
		const club = <%- JSON.stringify(club) %>
		const user = <%- JSON.stringify(user) %>
		<%if (user) {%>
			if (user) {user.role = "<%=user.role%>"}
		<%}%>
		
	</script>
	<script src="/js/club.js"></script>
</body>
</html>
