	<% include ./partials/head.ejs %>
	<title>Event Edit</title>
	<link rel="stylesheet" href="/css/event-edit.css">
	
</head>
<body>
	<% include ./partials/navbar.ejs %>
	<div class="container">

		<img src="" id="preview-image" class="img-responsive center-block" alt="صورة الفعالية">

		<h2 id="preview-title"><% if (event) { %><%= event.title %><% } %></h2>
		<div id="preview-brief"></div>
		
		<form id="form">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input id="title" name="title" class="form-control" type="text" placeholder="عنوان الفعالية.." <%if (event){%> value="<%= event.title %>"<%}%> required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
						<input id="image" name="image" class="form-control" type="url" placeholder="رابط الصورة.." <%if (event){%> value="<%= event.image %>"<%}%>>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						<input id="date" name="date" class="form-control" type="date" placeholder="التاريخ.." required>
					</div>
				</div>
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
						<input id="time" name="time" class="form-control" type="time" placeholder="Time.." <%if (event){%> value="<%= event.time %>"<%}%> required>
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
						<input id="location" name="location" class="form-control" type="text" placeholder="الموقع.." <%if (event){%> value="<%= event.location %>"<%}%> required>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input id="seatLimit" name="seatLimit" class="form-control" type="number" placeholder="غير محدود" min="0" max="9999" step="1" <%if (event){%> value="<%= event.seatLimit %>"<%}%>>
					</div>
				</div>
			</div>
			<br/>
			<div class="form-group">
				<textarea id="brief" name="brief" class="form-control" placeholder="نبذة.." required><%if(event){%><%=event.brief%><%}%></textarea>
			</div>
			
			<div class="form-group">
				<input type="checkbox" name="membersOnly" id="membersOnly">
				<span id="members-only">Members Only</span>
			</div>
			<div class="form-group">
				<input type="checkbox" name="sentAsEmail" id="sentAsEmail">
				<span id="also-send-email">Also Send an Email to all members</span>
			</div>
			<div class="form-group">
				<label for="organizers" id="label-organizers"> Organizers:</label>
				<select id="organizers" multiple class="form-control" required>
					<!-- Multiple Selection of Club Members-->
				</select>
				<input disabled type="text" id="organizers-summary" class="form-control">
			</div>
			<% if (event) { %>
				<button id="btn-submit-edit" class="btn btn-success">Submit Edit</button>
				<button id="btn-delete" class="btn btn-danger">Delete</button>
			<% } else { %>
				<button id="btn-create" class="btn btn-success">Create Event</button>
			<% } %>
		</form>
		
	</div>

	<% include ./partials/footer.ejs %>

	<script>
		const event = <%- JSON.stringify(event) %>
		const user = <%- JSON.stringify(user) %>
		const members = <%- JSON.stringify(members) %>
		<%if (user){%>
			user.role = "<%=user.role%>"
		<%}%>
	</script>
	<% include ./partials/scripts.ejs %>
	<script src="/js/event-edit.js"></script>
</body>
</html>
