	<% include ./partials/head.ejs %>
	<title>Event</title>
	<link rel="stylesheet" href="/css/event-edit.css">
	
</head>
<body>
	<script>
		const event = <%- JSON.stringify(event) %>
		const user = <%- JSON.stringify(user) %>
		<% if (user) { %>
			user.role = <%- JSON.stringify(user.role) %>
		<% } %>
	</script>
	<% include ./partials/navbar.ejs %>
	<div class="container">
		<h1>Event</h1>
		<h2 id="preview-title">
			<% if (event) { %>
				<%= event.title %>
			<% } %>
		</h2>
		<div id="preview-brief"></div>
		
		<div class="form-group">
			<input id="title" class="form-control" type="text" placeholder="Event Title.." <%if (event){%> value="<%= event.title %>"<%}%> required>
		</div>
		<div class="form-group">
			<input id="date" class="form-control" type="date" placeholder="Date.." <%if (event){%> value="<%= event.date %>"<%}%> required>
		</div>
		<div class="form-group">
			<input id="time" class="form-control" type="text" placeholder="Time.." <%if (event){%> value="<%= event.time %>"<%}%> required>
		</div>
		<div class="form-group">
			<input id="location" class="form-control" type="text" placeholder="Location.." <%if (event){%> value="<%= event.location %>"<%}%> required>
		</div>
		<div class="form-group">
			<textarea id="brief" class="form-control" placeholder="Briefing.." required><%if(event){%><%=event.brief%><%}%></textarea>
		</div>
		<div class="form-group">
			<input type="checkbox" id="membersOnly">
			<span>Members Only</span>
		</div>
		<div class="form-group">
			<input type="checkbox" id="sentAsEmail">
			<span>Also Send as Email</span>
		</div>
		<% if (event) { %>
			<button id="btn-submit-edit" class="btn btn-success">Submit Edit</button>
			<button id="btn-delete" class="btn btn-danger">Delete</button>
		<% } else { %>
			<button id="btn-create" class="btn btn-success">Create Event</button>
		<% } %>
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script src="/js/event-edit.js"></script>
</body>
</html>
