	<% include head.ejs %>
	<title>Event</title>
	<!-- <link rel="stylesheet" href="/css/index.css"> -->
	
</head>
<body>
	<% include navbar.ejs %>
	<div class="container">
		<input type="hidden" id="clubName" value="<%=clubName%>">
		<input type="hidden" id="id" <% if (event) {%> value="<%=event._id%>" <%}%>>
		<h1>Event</h1>
		<h2 id="title"></h2>
		<div id="brief"></div>
		
		<div class="form-group">
			<input id="input-title" class="form-control" type="text" placeholder="Event Title.." <%if (event){%> value="<%= event.title %>"<%}%> required>
		</div>
		<div class="form-group">
			<input id="input-date" class="form-control" type="date" placeholder="Date.." <%if (event){%> value="<%= event.date %>"<%}%> required>
		</div>
		<div class="form-group">
			<input id="input-time" class="form-control" type="text" placeholder="Time.." <%if (event){%> value="<%= event.time %>"<%}%> required>
		</div>
		<div class="form-group">
			<input id="input-location" class="form-control" type="text" placeholder="Location.." <%if (event){%> value="<%= event.location %>"<%}%> required>
		</div>
		<div class="form-group">
			<textarea id="input-brief" class="form-control" placeholder="Briefing.." required><%if(event){%><%=event.brief%><%}%></textarea>
		</div>
		<button id="btn-submit" class="btn btn-success">Submit</button>
		<button id="btn-delete" class="btn btn-danger">Delete</button>
		
	</div>

	<% include footer.ejs %>
	<% include scripts.ejs %>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script src="/js/event-edit.js"></script>
</body>
</html>