	<% include ./partials/head.ejs %>
	<title>Profile</title>
	<!-- <link rel="stylesheet" href="/css/profile.css"> -->
	
</head>
<body>

	<% include ./partials/navbar.ejs %>

	<div class="container">
		<h1>الملف الشخصي</h1>
		<ul id="list">
			<li>اسم المستخدم: <%= profile.username %></li>
			<li>التخصص: <%= profile.major %></li>
			<li>الدفعة: <%= profile.enrollment %></li>
			<li>البريد الإلكتروني: <%= profile.email %></li>
		</ul>
		<a href="/profile-edit" class="btn btn-default" id="edit-profile">Edit Profile</a>
	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
	<script>
		const memberships = <%- JSON.stringify(profile.memberships) %>
		$('#edit-profile').text(translate("Edit Profile"));
		for(let i = 0; i < memberships.length; i++) {
			console.log(memberships[i].role)
			$("#list").append(`<li>${translate(memberships[i].role)} في <a href="/clubs/${memberships[i].club._id}">${memberships[i].club.name}</a></li>`)	
		}
	</script>
</body>
</html>