	<% include ./partials/head.ejs %>
	<title>Profile</title>
	<!-- <link rel="stylesheet" href="/css/profile.css"> -->
	
</head>
<body>
	<div class="container">

		<h1>Profile</h1>
		<ul>
			<li>Username: <%= profile.username %></li>
			<li>Major: <%= profile.major %></li>
			<li>Enrollment date: <%= profile.enrollment %></li>
			<li>Email: <%= profile.email %></li>

			<% for(let i = 0; i < profile.memberships.length; ++i) { %>
				<li> <%= profile.memberships[i].role %> in <a href="/clubs/<%= profile.memberships[i].club._id %>"><%= profile.memberships[i].club.name %> Club </a></li>
			<% } %>
			
		</ul>
		<a href="/" class="btn btn-default">Index Page</a>

	</div>

	<% include ./partials/footer.ejs %>
	<% include ./partials/scripts.ejs %>
<!-- 	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.3/dist/showdown.min.js"></script>
	<script src="/js/club.js"></script> -->
</body>
</html>